
@media  screen and (max-width: 576px) {
    .navbar, .main_menu{
        flex-direction: column;
    }
    .banner_content{
        width: 85%;
    }
    
    .team_section{
        flex-direction: column;
    }
    .team_iamges{
        grid-template-columns: repeat(1,1fr);
    }
    .team_contennt{
        width: 90%;
    }
    .fact_all_box{
        grid-template-columns: repeat(1,1fr);
    }
    .fact_box_one{
        margin: 0 auto;
    }
    .sponsor_img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .sponsor_img img{
        padding:15px 0px;
        margin: 0 auto;
    }
    .archi_btn{
        margin-top: 10px;
        margin-left: 10px;
    }
    .feature_section{
        grid-template-columns: repeat(1,1fr);
    }



  }



/*FOR MEDIAM SIZE DEVICES*/

@media screen and (min-width: 576px) and (max-width: 992px){
    .team_section{
        flex-direction: column;
    }
    .team_contennt{
        width: 90%;
    }
    .banner_content{
        width: 90%;
    }
    .fact_all_box{
        grid-template-columns: repeat(2,1fr);
    }
    .fact_box_one{
        margin: 0 auto;
    }
    .sponsor_img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .sponsor_img img{
        padding:15px 0px;
        margin: 0 auto;
    }
    .archi_btn{
        margin-top: 10px;
        margin-left: 10px;
    }
    .feature_section{
        grid-template-columns: repeat(1,1fr);
    }
}


