
@media  screen and (max-width: 576px) {
    .navbar, .main_menu{
        flex-direction: column;
    }
    .banner_content{
        width: 85%;
    }
    
    .team_section{
        flex-direction: column;
    }
    .team_iamges{
        grid-template-columns: repeat(1,1fr);
    }
    .team_contennt{
        width: 90%;
    }

  }



/*FOR MEDIAM SIZE DEVICES*/

@media screen and (min-width: 576px) and (max-width: 992px){
    .team_section{
        flex-direction: column;
    }
    .team_contennt{
        width: 90%;
    }
    .banner_content{
        width: 90%;
    }
}


