
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}



/*Header CSS*/

.header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 30px 0px;
}
.brand a{
    text-decoration: none;
    color: rgb(19, 19, 19);
    font-weight: 700;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
}
.main_menu{
    display: flex;
}
.nav_item{
    list-style: none;
    padding: 0px 15px;
}
.nav_item{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}
.nav_item:hover{
    color: rgb(255, 144, 14);
}

/*banner css*/
.banner{
    text-align: center;
    padding: 100px 0px;
}
.banner_content{
    width: 40%;
    margin: auto;
}
.banner_title{
    font-size: 50px;
    font-weight: 700;
    margin: 10px 0px;
    color: rgb(19, 19, 19);
}
.banner_des{
    font-size: 16px;
    color: rgb(114, 114, 114);
    line-height: 26px;
    margin: 10px 0px;
}
.btn{
    background-color: rgb(255, 144, 14);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    margin: 15px 0px;
}
.banner_img{
    max-width: 85%;
}
