
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

main{
    width: 85%;
    margin: 0 auto;
}



/*Header CSS*/

.header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 30px 0px;
}
.brand a{
    text-decoration: none;
    color: rgb(19, 19, 19);
    font-weight: 700;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
}
.main_menu{
    display: flex;
}
.nav_item{
    list-style: none;
    padding: 0px 15px;
}
.nav_item{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}
.nav_item:hover{
    color: rgb(255, 144, 14);
}

/*banner css*/
.banner{
    text-align: center;
    padding: 100px 0px;
}
.banner_content{
    width: 40%;
    margin: auto;
}
.banner_title{
    font-size: 50px;
    font-weight: 700;
    margin: 10px 0px;
    color: rgb(19, 19, 19);
}
.banner_des{
    font-size: 16px;
    color: rgb(114, 114, 114);
    line-height: 26px;
    margin: 10px 0px;
}
.btn{
    background-color: rgb(255, 144, 14);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    margin: 15px 0px;
}
.banner_img{
    max-width: 85%;
}

/*Team CSS*/

.team_section{
    margin: 50px 0px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.team_iamges{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.team_contennt{
    width: 25%;
}
.team_title{
    font-size: 2.5rem;

}
.title_gray{
    color: rgb(114, 114, 114);
}
.title_feature{
    color: rgb(255, 144, 14);
}
.team_des{
    font-size: 1rem;
    color: rgb(114, 114, 114);
    line-height: 26px;
}

.fact_all_box{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.fact_box_one{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    padding: 30px;
    width: 180px;
    height: 180px;
}
.fact_box_one{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.fact_iten_title{
    font-size: 2.5rem;
    color: rgb(66, 66, 66);
    margin: 10px 0px;
}
.fact_item_des{
    font-size: 1rem;
    color: rgb(114, 114, 114);
    margin: 5px 0px;
}

/*sponsor section*/
.sponsor{
    text-align: center;
    margin: 50px 0px;
}

.sponsor_img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}

.sponsor_img img{
    filter: grayscale(100);
}
.sponsor_img img:hover{
    filter: grayscale(0);
}

.feature_section{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}
.feature_card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 10px 0px;
}
.feature_card_title{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 05px 0px;
}
.featurecard_des{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(114, 114, 114);
}

.feature_images img{
    width: 100%;
}
.feature_highlight{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
}
.feature_des_item{
    margin: 20px 0px;
}

.feature_archite{
    font-size: 3rem;
}
.archi_btn{
    margin-top: -200px;
    margin-left: -40px;
}